
*.prefs

Arduino/\.settings/

Arduino/Devices/\.settings/

Arduino/Devices/\.project

*.mk

Arduino/Motors/Release/makefile

Arduino/Motors/\.cproject

Arduino/Devices/\.cproject
/.metadata/
